# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home2/merledup/public_html"
PassengerBaseURI "/"
PassengerPython "/home2/merledup/virtualenv/production.python/3.7/bin/python3.7"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
