{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MERL</title>
    <meta name="msapplication-TileImage" content="{% static 'img/logo (1).png' %}">
    <meta name="msapplication-TileColor" content="#ae8160">
    <meta name="application-name" content="MERL">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48" href="{% static 'img/logo (1).png' %}">
    <link rel="icon" type="image/png" sizes="16x16 32x32" href="{% static 'img/logo (1).png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/logo (1).png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&amp;display=swap">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/4-Column-Team-Block---Circles.css' %}">
    <link rel="stylesheet" href="{% static 'css/Advanced-NavBar---Multi-dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated-services.css' %}">
    <link rel="stylesheet" href="{% static 'css/dh-row-text-image-right-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/featured-products-slider-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/featured-products-slider-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/featured-products-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer-servitech.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="{% static 'css/project-card.compiled.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.compiled.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/Swiper-Slider-Card-For-Blog-Or-Product-1-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Swiper-Slider-Card-For-Blog-Or-Product-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/Team-one-B4-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Team-one-B4.css' %}">
    <link rel="stylesheet" href="{% static 'css/Team-Presentation---2-Persons---Social-Media-Icon.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
</head>

<body>
    {% include 'nav.html' %}

    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{% static 'js/-Animated-numbers-section-BS4-.js' %}"></script>
    <script src="{% static 'js/Advanced-NavBar---Multi-dropdown.js' %}"></script>
    <script src="{% static 'js/featured-products-slider.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/Swiper-Slider-Card-For-Blog-Or-Product.js' %}"></script>
</body>

</html>