{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class="normal-section">
        <div class="container">
            <div data-bss-hover-animate="pulse" class="row clearmargin clearpadding row-image-txt" style="border-width: 1px;border-style: solid;box-shadow: 5px 4px 5px rgba(33,37,41,0.3);margin-bottom: 50px;">
                <div class="col clearmargin clearpadding" style="background: url('{{ obj.picture.url }}') top center / cover;">
                    <div>
                        <!-- <img src="{{obj.picture.url}}" style="width: 100%;" /> -->
                    </div>
                </div>
                <div class="col" style="color: black;padding: 20px;">
                    <h1>{{ obj.name }}</h1>
                    <hr>
                    <div>
                        <h5>{{ obj.title | safe }}</h5>
                        {% if obj.period %}
                        <h6>{{obj.period}}</h6>
                        {% endif %}
                        <p>{{ obj.description }}</p>
                        <h5>Skills</h5>
                        <ul>
                            {% for skill in obj.skills %}
                            <li> {{ skill }} </li>
                            {% endfor %}
                        </ul>
                        <h5>Projects</h5>
                        <ul>
                            {% for project in obj.projects %}
                            <li>{{ project }}</li>
                            {% endfor %}
                        </ul>
                        <h5>Interest</h5>
                        <ul>
                            {% for int in obj.Interest %}
                            <li>{{ int }}</li>
                            {% endfor %}
                        </ul>
                        
                        <h5>Contact</h5>
                        <ul class="list-inline" style="margin-left: 30px;">
                            <li class="list-inline-item"><a href="{{ obj.github }}" target="_blank"><i class="fa fa-github-square" style="color: #3466ac;font-size: 57px;"></i></a></li>
                            <li class="list-inline-item"><a href="{{ obj.linkedin }}" target="_blank"><i class="fa fa-linkedin-square" style="color: #3466ac;font-size: 57px;"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:{{ obj.mail }}"><i class="fa fa-envelope-square" style="color: #3466ac;font-size: 57px;"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}