{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section>
        <div data-bss-parallax-bg="true" style="background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('{% static 'img/project.jpg' %}') center / cover;height: 100vh;">
            <div class="container" style="padding-top: 40vh;text-align: center;">
                <h1 style="color: rgb(255,255,255);font-size: 50px;"><strong>{{obj.title}}</strong><br></h1>
            </div>
        </div>
    </section>
    <section class="normal-section">
        <div class="container" style="text-align: justify;">
            <p> {{obj.description|safe}} </p>
        </div>
    </section>
{% endblock %}